body {
  background-color: #53ae51;
}

.title {
  text-align: center;
  font-family: sans-serif;
  color: whitesmoke;
  margin: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #534ab5;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 4px;
}

.card {
  text-align: center;
  background-color: white;
  width: 350px;
  height: 500px;
  margin: auto;
  border-radius: 18px;
  box-shadow: 2px 2px 2px rgba(1, 1, 1, 0.4);
}

.top {
  height: 20%;
  display: flex;
  justify-content: left;
  font-size: 100px;
  margin-left: 20px;
}

.middle {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200px;
  color: black;
}

.bottom {
  height: 20%;
  display: flex;
  justify-content: right;
  font-size: 100px;
  margin-right: 20px;
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  -o-transform: scaleY(-1);
}

.BtnContainer {
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

.dealerBtn {
  background-color: #534ab5;
  color: white;
  padding: 14px 40px;
  font-size: large;
  font-family: sans-serif;
  width: 350px;
  border-radius: 4px;
}

.dealerBtn:hover {
  background-color: #5b51c5;
  color: white;
}

.stopTmr {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 14px 40px;
  font-size: large;
  font-family: sans-serif;
  width: 350px;
  border-radius: 4px;
}

#icon {
  color: black;
}

#value {
  color: black;
}

img {
  width: 170px;
}

.inputs {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
}

#cardWidth {
  width: 50px;
  background-color: #b54aac;
  color: white;
  padding: 10px 10px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 4px;
}

#cardHeight {
  width: 50px;
  background-color: #b54aac;
  color: white;
  padding: 10px 10px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 4px;
}

#resize {
  width: 190px;
  background-color: #b54aac;
  color: white;
  padding: 10px 10px;
  font-size: large;
  font-family: sans-serif;
  border-radius: 4px;
}

#resize:hover {
  background-color: #c74fbd;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.titleResize {
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  padding-left: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
